 <body>
     <div class="animate1">
     
     </div>
     <div class="animate2">
       <h2>Make it Easyer</h2>
        <p>
            Use our aplication in your business, to 
              be more productive and faster!
        </p>
       
     </div>

     <footer>
        <ul>
            <li>Terms</li>
            <li>Privacy Policy</li>
        </ul>
        
        <div class="gadget">
           <a href="https://www.facebook.com"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>  
           <a href="https://www.instagram.com"><i class="fa fa-instagram" aria-hidden="true"></i></a> 
            <a href="https://www.youtube.com"><i class="fa fa-youtube" aria-hidden="true"></i></a> 

        </div>
        <p class="copyright">Restaurant Task © 2021</p>
     </footer>   
     
 </body>